
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');

/* Root Variables */
:root {
    --color-dark: #363949;
    --color-danger: #FF0060;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--color-dark);
}

/* NAVIGATION STYLES */

/* Removing list style */
li {
    list-style: none;
}

/* Anchor link styles */
a {
    color: white;
    text-decoration: none;
}

/* Navbar container styles */
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 10;
}

/* Navigation menu styles */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* Branding styles */
.nav-branding {
    display: flex;
    align-items: center;
}

.nav-branding img {
    width: 5rem;
    height: 5rem;
    margin-right: 10px;
}

.nav-branding span {
    font-size: 2rem;
}

/* Navigation link styles */
.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--color-danger);
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* General image styles */
img {
    width: 5rem;
    height: 5rem;
}

/* MEDIA QUERIES */

/* Media queries for max-width 768px */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--color-dark);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        max-height: calc(100vh - 70px);
    }

    .nav-menu.active {
        left: 0;
        overflow-y: auto;
        position: fixed;
        z-index: 1100;
    }

    body.nav-active {
        overflow: hidden;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Media queries for min-width 777px */
@media (min-width: 777px) {
    .nav-branding .logo {
        width: 1rem;
        height: 2rem;
    }

    .nav-branding span {
        font-size: 1.3rem;
        transition: 0.3s ease;
    }
}

/* Media queries for max-width 437px */
@media (max-width: 437px) {
    .nav-branding span {
        font-size: 1.5rem;
        transition: 0.5s ease all;
    }

    .footer-info {
        font-size: .8rem;
        flex-direction: row;
    }

    .footer-info span {
        font-size: 0.8rem;
    }
}

/* BODY CONTENT */

/* Body styles */
body {
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -1;
}

body > * {
    position: relative;
    z-index: 1;
}

/* Container styles */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-evenly;
    margin: 1rem 3rem;
    gap: 3rem;
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        margin: 1rem;
        gap: 1rem;
    }
}

/* Box styles */
.box {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    box-shadow: var(--box-shadow);
}

.box:hover {
    box-shadow: none;
}

/* Box information styles */
.box .box-info {
    padding: 1.5rem;
    text-align: center;
}

/* Button styles */
.btn {
    display: flex;
    justify-content: center;
    margin: -10 0;
    font-size: 5px;
}

.btn button {
    font-size: large;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s ease all;
    cursor: pointer;
}

.btn button:hover {
    background-color: rgba(107, 106, 106, 0.288);
}

.box-info img {
    height: 6rem;
    width: 6rem;
    margin: 0;
}

.box-info #title {
    font-size: 1.5rem;
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .box-info #title {
        font-size: 1.2rem;
    }
}

/* SLIDER */

/* Main container styles */
.main-container {
    padding: 2rem;
    position: relative;
    z-index: -1; /* Lower the z-index further */
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .main-container {
        padding: 1rem;
    }
}

/* Slider wrapper styles */
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .slider-wrapper {
        max-width: 100%;
    }
}

/* Slider styles */
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 0; /* Add this line */
    transition: margin-top 0.3s ease; /* Add this line */
    position: relative;
    z-index: 1;
}

.slider.slider--collapsed {
    margin-top: 70px; /* Adjust this value based on your header's height */
}

/* Slider keyframes */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

/* Slider anchor link styles */
.slider a {
    flex: 1 0 100%;
    height: auto;
    scroll-snap-align: start;
    animation: slide 30s ease-in-out infinite alternate;
}

/* Slider navigation styles */
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* Slider image styles */
.slider a img {
    width: 100%;
    height: auto;
}

/* Slider navigation anchor link styles */
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* HOME CONTENT */

/* Main about section styles */
.main-about {
    margin: 2rem;
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .main-about {
        margin: 1rem;
    }
}

/* Main info1 styles */
.main-info1 {
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: white;
    box-shadow: var(--box-shadow);
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .main-info1 {
        margin: 1rem;
        padding: 1rem;
    }
}

/* Hover effect for main info1 */
.main-info1:hover {
    box-shadow: none;
}

/* Text alignment for about1 */
.main-info1 .about1 {
    text-align: justify;
    text-justify: inter-word;
}

/* Main info2 styles */
.main-info2 {
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: white;
    box-shadow: var(--box-shadow);
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .main-info2 {
        margin: 1rem;
        padding: 1rem;
    }
}

/* Hover effect for main info2 */
.main-info2:hover {
    box-shadow: none;
}

/* Text alignment for about2 */
.main-info2 .about2 {
    text-align: justify;
    text-justify: inter-word;
}

/* ABOUT STYLE */

/* About container styles */
.about-container {
    display: flex;
    border: 1px solid black;
}

/* Media queries for max-width 600px */
@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }
}

/* FOOTER */

/* Footer container styles */
.footer-container {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-dark);
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Footer info styles */
.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-info span {
    font-weight: normal;
}

.footer-info p {
    margin-top: 10px;
}

/* Media queries for max-width 768px */
@media (max-width: 768px) {
    .footer-info {
        font-size: .8rem;
        flex-direction: row;
    }

    .footer-info span {
        font-size: 0.8rem;
    }
}

/* Media queries for max-width 320px */
@media (max-width: 320px) {
    .footer-container {
        text-align: center;
        font-size: 0.8rem;
    }
}
